@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    background-color: aquamarine;
    overflow-x: hidden;
}

.container {
    background-color: #fff;
    /* position: absolute; */
    /* width: 1496px;
    height: 821px; */
    display: flex;
    height: 660vh;
    width: 100%;
}

.header_bar_content {
    position: fixed;
    width: 100%;
    height: 4rem;
    background: #97BFE4;
    box-shadow: gray -2px -1px 6px;
}

.header_bar_content .nav-bar-head-content li {
    font-weight: bold;
    display: inline;
    margin-left: 1.5rem;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.header_bar_content .nav-bar-head-content li a {
    text-decoration: none;
    color: #fff;
}

.header_bar_content .nav-bar-head-content ul {
    list-style-type: none;
    margin: 0;
    margin-left: 15rem;
    padding: 0;
    background-color: #97BFE4;
    /* height: 4rem;
    width: 100%; */
}

.header_bar_content h1 {
    font-size: 10px;
    /* margin-left: 10px; */
    margin-top: 0.8rem;
    width: 80px;
    color: white;
    font-weight: bolder;
    gap: 200px;
}

.information .avatar {
    border-radius: 50%;
    position: absolute;
    margin-left: -3rem;
}

.edge {
    background-color: #fff;
    /* max-width: 19%; */
    height: 100%;
    width: 14rem;
    box-shadow: grey 3px 2px 3px;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
}

.edge ul {
    position: absolute;
    left: 1rem;
    list-style-type: none;
    width: 100%;
    margin-top: 20px;
}

.edge ul li {
    border-bottom: 1px solid #cdcdcd;
    width: 190px;
    height: 46px;
    padding-top: 13px;
}

.edge ul li:hover {
    background-color: #4A89FF;
    border-radius: 5px;
    width: 190px;
    margin-right: 20px;
}

.edge ul li i:hover {
    color: #ffff;
}

.edge ul li a {
    text-decoration: none;
    margin-left: 7px;
}

.edge_logo {
    width: 140px;
    margin-top: 20px;
    margin-left: 33px;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    max-width: 70%;
    /* margin-left: 4rem; */
    gap: 200px;
}

.item-container .lich {
    background-color: #F5F5F5;
    width: 30rem;
    max-width: 30%;
    display: flex;
    /* flex: 0 0 25%; */
}

.item-container .pt {
    /* margin-left: 10rem; */
    background-color: #F5F5F5;
    width: 30rem;
    max-width: 30%;
    flex: 0 0 25%;
    display: flex;
}

.item-container .img_lich {
    width: 47%;
    height: 74%;
    margin-top: 13px;
}

.item-container .img_pt {
    width: 45%;
    height: 59%;
    margin-top: 1.5rem;
}

.item-container .lich .span-left {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px
}

.item-container .pt .span-right {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px
}

.item-one {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-one span {
    font-size: 20px;
    font-weight: 900;
}

.item-one .img-relax {
    width: 40%;
    height: 78%;
    border-radius: 7px;
}

element.style {}

@media (min-width: 531px) {
    .item-container {
        flex: 0 0 50%;
        max-width: 100%;
        gap: 77px;
        margin-top: 6rem;
        margin-left: 249px;
        margin-right: 30px;
    }
    .item-container .pt {
        flex: 0 0 100%;
        max-width: 42%;
    }
    .item-container .lich {
        flex: 0 0 100%;
        max-width: 40%;
        height: 11rem;
    }
    .information {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

@media (max-width: 985px) {
    .header_bar_content ul {
        display: none;
    }
    .header_bar_content {
        transition: 1s;
        background-color: #4A89FF;
        width: 100%;
        height: 4rem;
    }
    .avatar {
        display: none;
    }
    .name {
        display: none;
    }
    .menu-down {
        display: none;
    }
    .edge {
        display: none;
    }
    #notification_headert {
        display: none;
    }
    .item-container {
        flex: 0 0 50%;
        max-width: 100%;
        gap: 77px;
        margin-top: 6rem;
        margin-left: 63px;
        margin-right: 2px;
    }
}

@media (max-width: 760px) {
    .header_bar_content ul {
        display: none;
    }
    .header_bar_content {
        transition: 1s;
        background-color: #4A89FF;
        width: 100%;
        height: 4rem;
    }
    .avatar {
        display: none;
    }
    .name {
        display: none;
    }
    .menu-down {
        display: none;
    }
    .edge {
        display: none;
    }
    #notification_headert {
        display: none;
    }
    .item-container {
        gap: 300px;
        row-gap: 20px;
    }
    .item-container {
        margin-top: 6rem;
        flex: 0 0 50%;
        max-width: 100%;
        gap: 100px;
        margin-left: 30px;
        margin-right: 30px;
        row-gap: 30px;
    }
    .item-container .pt {
        flex: 0 0 100%;
        max-width: 100%;
        height: 12rem;
    }
    .item-container .lich {
        flex: 0 0 100%;
        max-width: 100%;
        height: 12rem;
    }
    .item-one {
        row-gap: 10px;
    }
    .item-one .img-relax {
        width: 100%;
        height: 78%;
        border-radius: 7px;
    }
}